*.par.*
*/*
*.pyc
*.swp
*/*.swp
*/*.pyc
!models/*
models/*.pyc
!unit_test/*
!checkpoint/*
saliency.py
!imagenet_fast/*
.DS_Store
!figures/*
figures/.DS_Store
!imagenet/*
imagenet/checkpoint/*
imagenet_fast/wandb/*
imagenet_fast/output/*
imagenet_fast/trained_models/*
imagenet_fast/trained_models_download/*
imagenet_fast/out/*
